{% extends "employee_register/base.html" %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="paragrap">
        <h1>WHO AM I</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatibus quisquam saepe amet adipisci eaque praesentium tenetur officia? Consequuntur aliquam quas esse distinctio molestiae tempora assumenda rem dolorum, aliquid nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam officia aliquam consequuntur iusto reiciendis rem soluta vero officiis mollitia. Adipisci rem earum minima possimus soluta velit a et consequuntur?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni quo placeat aperiam, cupiditate eos praesentium ipsa, nam quia vero deleniti qui consectetur quasi inventore quibusdam voluptate cum reprehenderit libero facere?</p>
    </div>
</div>
{% endblock content %}
